* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
p {
  line-height: 20px;
}
.login-btn,
.get-started,
.learn-more,
.get-second,
.browse-text {
  cursor: pointer;
}
body {
  font-family: Arial;
  color: #090909;
  background: aliceblue;
  width: 100%;
}
header,
main,
section {
  width: 100%;
  /* overflow: hidden; */
}
header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  height: 10vh;
}
header div {
  display: flex;
}
.logo-div {
  margin-left: 20px;
}
.login-btn {
  /* padding: 10px;
  box-shadow: 0 4px 16px rgb(0 0 0 / 10%);
  color: #1e1e1e;
  border-radius: 5px; */
}
.login-div {
  margin-right: 20px;
  gap: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.get-started {
  /* padding: 20px; */
  padding: 10px;
  background: #1e1e1e;
  color: white;
  border-radius: 5px;
}
.list-div {
  gap: 2em;
}
.home-text {
  color: blue;
}
.first-section {
  margin: 50px 0 20px;
  display: flex;
  justify-content: center;
}
.finance {
  background: #3b66ff;
  color: white;
  padding: 10px;
  border-radius: 5px;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 2em;
}
main h1 {
  font-size: 64px;
  width: 735px;
  text-align: center;
  color: #090909;
}
.first-lorem {
  width: 600px;
}
.get-started-div {
  display: flex;
  gap: 2em;
}
.learn-more {
  padding: 10px;
  box-shadow: 0 4px 16px rgb(0 0 0 / 10%);
  color: #1e1e1e;
  border-radius: 5px;
}
.first-img {
  width: 70%;
  /* height: 579px; */
}
.second-section {
  display: flex;
  flex-direction: column;
  /* gap: 1em; */
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 150px 0 100px;
}
.second-img {
  position: absolute;
  top: 5%;
  left: 10%;
  width: 23%;
}
.third-img {
  position: absolute;
  top: -20%;
  /* display: none; */
  width: 25%;
  right: 2%;
}
.fourth-img {
  position: absolute;
  right: 2%;
  top: 80%;
  width: 24%;
  /* display: none; */
}
.trusted-img {
  /* position: absolute;
  top: 650px; */
  width: 90%;
  margin-top: 20px;
}
.checkbox {
  display: none;
  width: 40px;
  height: 40px;
}
.mother-div {
  width: 40px;
  display: none;
  align-items: center;
  justify-content: center;
  height: 60px;
  background-color: red;
}
.white-line {
  transition: all ease-in-out 0.5s;
  width: 30px;
  height: 3px;
  background: #3b66ff;
  position: relative;
}
.white-line::before,
.white-line::after {
  content: "";
  position: absolute;
  top: 10px;
  width: 30px;
  height: 3px;
  background: red;
}
.white-line::before {
  top: -10px;
}
.features-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
.features {
  padding: 10px;
  background: #ee4346;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  /* margin-bottom: 100px; */
}
.unique-text {
  font-size: 64px;
  width: 725px;
  text-align: center;
}
.lorem-features {
  text-align: center;
  width: 600px;
  margin-bottom: 100px;
}
.icon-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4em;
  flex-wrap: wrap;
  margin-bottom: 100px;
}
.a-long-div {
  /* padding: 20px;
  border:  2px solid #948282; */
  width: 400px;
  display: flex;
  text-align: center;
  gap: 1em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.browse-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
  margin-top: 50px;
}
.get-second {
  padding: 10px;
  border-radius: 5px;
  background: #1e1e1e;
  color: #fff;
}
.browse-text {
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 16px rgb(0 0 0 / 10%);
}
.two-section {
  display: flex;
  padding: 50px 0 80px;
  background: #090909;
  gap: 6em;
}
.glass-div {
  margin-left: 40px;
  position: relative;
}
.glass-lady {
  width: 400px;
}
.facebook-img {
  width: 300px;
  position: absolute;
  left: 150px;
  top: 64%;
}
.product-div p {
  line-height: 35px;
}
.product-div {
  display: flex;
  flex-direction: column;
  width: 540px;
  /* background: #ee4346; */
  color: #fff;
}
.product-text {
  width: 110px;
  padding: 10px;
  border-radius: 5px;
  color: #1e1e1e;
  background: #f4b52b;
}
.next-gen {
  font-size: 40px;
  line-height: 50px;
}
.ipsum {
  line-height: 20px;
}
.light-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
.fa-lightbulb {
  font-size: 35px;
}
.fa-lock {
  font-size: 35px;
}
.third-start {
  color: #1e1e1e;
  background: #fff;
  padding: 10px;
  width: 100px;
  line-height: 0%;
  border-radius: 5px;
}
.easier-section {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;
}
.get-forth {
  padding: 10px;
  background: #4fc553;
  color: #fff;
  border-radius: 5px;
  margin: 0 0 50px;
}
.easier-text {
  font-size: 64px;
  width: 860px;
  text-align: center;
}
.easier-para {
  line-height: 35px;
  width: 600px;
  text-align: center;
}
.first-div {
  display: flex;
  flex-direction: column;
  width: 400px;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2em;
}
.download-img {
  width: 350px;
}
.download-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.first-div p {
  line-height: 40px;
}
.insights {
  padding: 10px;
  color: #fff;
  background: #0082f0;
  width: 80px;
  border-radius: 5px;
}
.insight-section {
  margin: 70px 0;
  display: flex;
  gap: 6em;
}
.insight-div {
  margin-left: 20px;
  width: 500px;
}
.insight-div h2 {
  font-size: 40px;
  margin: 30px 0;
}
.insight-div p {
  margin-bottom: 30px;
}
.grid-div {
  display: flex;
  flex-wrap: wrap;
  gap: 3em;
}
.seperate-div h1 {
  font-size: 40px;
}
.seperate-div {
  width: 40%;
}
.red {
  color: #ee4346;
}
.green {
  color: #4fc553;
}
.blue {
  color: #0082f0;
}
.yellow {
  color: #f4b52b;
}
.big-img-div {
  width: 450px;
  position: relative;
}
.big-img {
  width: 400px;
}
.first-small {
  width: 250px;
  position: absolute;
  left: -100px;
  top: 400px;
}
.lady-img {
  width: 250px;
  position: absolute;
  left: -180px;
  top: 20px;
}
.insight-div p {
  line-height: 35px;
}
.last-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 50px;
  gap: 3em;
}
.our-blog {
  color: #fff;
  padding: 10px;
  background: #4fc553;
  border-radius: 5px;
}
.article-text {
  font-size: 64px;
  width: 624px;
}
.three-section {
  display: flex;
  gap: 3em;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.first-rectangle-div {
  background: white;
  width: 350px;
  gap: 3em;
  border-radius: 25px;
  padding: 0 0 20px 0;
}
.rectangle-img {
  width: 100%;
}
.bussiness {
  color: #f7402e;
  margin: 0px 0 7px 15px;
}
.date {
  margin: 15px 0 7px 15px;
}
.smart {
  margin: 0 10px 0 15px;
  font-weight: bold;
}
footer {
  padding: 80px 0 50px 0;
  background: #090909;
  color: #fff;
  gap: 4em;
  display: flex;
  flex-direction: column;
}
.fa-brands {
  color: white;
  font-size: 30px;
}
.footer-first-div {
  width: 300px;
  margin-left: 20px;
}
.last-foooter-div {
  display: flex;
  flex-wrap: wrap;
  gap: 3em;
}
.style-div {
  gap: 3em;
}
.copy-wright {
  padding-top: 30px;
  border-top: 2px solid #fff;
}
@media (max-width: 1000px) {
  .insight-section {
    display: flex;
    flex-direction: column;
  }
  .insight-div {
    width: 90%;
  }
  .big-img-div {
    width: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .big-img {
    width: 90%;
  }
  .first-small {
    width: 40%;
    position: absolute;
    left: -1%;
    top: 60%;
  }
  .lady-img {
    width: 40%;
    position: absolute;
    left: -1%;
    top: 10%;
  }
}
@media (max-width: 550px) {
  .style-div {
    display: flex;
    flex-direction: column;
    gap: 4em;
  }
  .finance {
    margin-top: 30px;
  }
  .last-foooter-div {
    margin-left: 20px;
  }
  .footer-first-div {
    margin-bottom: 30px;
  }
  main h1 {
    margin: 40px 0;
  }
}
@media (max-width: 750px) {
  .unique-text {
    width: 95%;
  }
  .lorem-features {
    width: 95%;
  }
  .a-long-div {
    width: 95%;
  }
  .seperate-div h1 {
    font-size: 30px;
  }
  .insight-div h2 {
    font-size: 30px;
  }
  .article-text {
    width: 90%;
    text-align: center;
  }
}
@media (max-width: 800px) {
  .checkbox:checked + .mother-div .white-line {
    transform: rotate(135deg);
  }
  .checkbox:checked + .mother-div .white-line::before,
  .checkbox:checked + .mother-div .white-line::after {
    top: 0;
    transform: rotate(90deg);
  }
  .checkbox:checked:hover + .mother-div .white-line {
    transform: rotate(225deg);
  }
  .checkbox {
    transition: all ease-in-out 0.5s;
    display: block;
    position: absolute;
    right: 0%;
    margin-right: 2%;
    z-index: 6;
    opacity: 0;
    margin-top: 2%;
  }
  .mother-div {
    display: flex;

    right: 0%;
    margin-top: 2%;
    margin-right: 2%;
    background-color: transparent;
    position: absolute;
    z-index: 2;
  }
  .list-div,
  .login-div {
    display: none;
  }
  .checkbox:checked ~ .list-div {
    transition: all ease 0.5s;
    display: flex;
    width: 100%;
    top: 0;
    right: 0;
    height: 400px;
    position: absolute;
    overflow: visible;
    background: whitesmoke;
    align-items: center;
    justify-content: center;
    z-index: 1;
    flex-direction: column;
  }
  /* .checkbox:checked ~ .login-div {
  transition: all ease 0.5s;
  display: flex;
  width: 100%;
  top: 0;
  right: 0;
  height: 400px;
  position: absolute;
  overflow: visible;
  background: rgba(21, 66, 21, 1);
  align-items: flex-start;
  justify-content: end;
  flex-direction: column;
} */

  .first-lorem {
    width: 95%;
  }
  .second-section {
    margin: 50px 0;
  }
  main h1 {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .logo-div img {
    width: 130px;
  }
  .easier-text {
    font-size: 40px;
  }
  .article-text {
    font-size: 40px;
  }
  .second-section {
    margin: 50px 0;
  }
  main h1 {
    font-size: 40px;
    width: 95%;
  }
  .get-started-div {
    gap: 1em;
    flex-direction: column;
  }
  .first-img {
    width: 90%;
  }
  .second-img {
    width: 40%;
    left: 0%;
  }
  .third-img {
    width: 30%;
  }
  .fourth-img {
    width: 40%;
    top: 70%;
    right: 0%;
  }
  main {
    gap: 1em;
  }
  .first-section {
    margin: 10px 0;
  }
  .unique-text {
    font-size: 40px;
  }
  .browse-div {
    margin: 0;
    gap: 1em;
    flex-direction: column;
  }
  .footer-first-div {
    width: 90%;
  }
}
@media (max-width: 650px) {
  .easier-para {
    width: 90%;
  }
  .first-div {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2em;
  }
  .download-img {
    width: 80%;
  }
}

@media (max-width: 900px) {
  .two-section {
    flex-direction: column;
  }
  .glass-div {
    width: 100%;
    margin: 0%;
  }
  .glass-lady {
    width: 80%;
  }
  .facebook-img {
    width: 60%;
    position: absolute;
    left: 29%;
    top: 64%;
  }
  .product-div {
    margin: 5%;
    width: 90%;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
    gap: 3em;
  }
  .next-gen {
    font-size: 35px;
  }
  .easier-text {
    width: 90%;
  }
}
@media (max-width: 450px) {
  .first-rectangle-div {
    width: 90%;
  }
}
